# Some useless things
.structurizr
NOTES.md
TODO.md

terraform.*
.terraform*
*.tfstate

# environments
.env
env
.venv
venv

# IDE's
.vscode

# Python
__pycache__

# The crap
.egg
keycloak/terraform/terraform.tfvars
